<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <form action="" class="client-info">
    <label>
      <input type="text" id="id">
    </label>
    <label>
      <input type="text" id="name">
    </label>
    <label>
      <input type="text" id="surname">
    </label>
    <label>
      <input type="text" id="role">
    </label>
    <label>
      <textarea name="question" id="question" cols="30" rows="10"></textarea>
    </label>
    <button>Сохранить</button>
  </form>
</body>

</html>