<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="sidebar">
    <ul>
      <li class="client_info">
        <a>Информация о клиенте</a>
      </li>
      <li class="common_info">
        <a>Информация по счетам/клиентам</a>
      </li>
      <li class="query_maker">
        <a>Составить запрос</a>
      </li>
    </ul>
  </div>
</body>

</html>