<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <table class="common_table">
    <th class="table_head">
    <td>1</td>
    <td>2</td>
    <td>3</td>
    </th>
    <tr class="table_row">
      <td>А</td>
      <td>Б</td>
      <td>В</td>
    </tr>
    <tr class="table_row">
      <td>A</td>
      <td>B</td>
      <td>C</td>
    </tr>
    <tr class="table_row">
      <td>.</td>
      <td>,</td>
      <td>...</td>
    </tr>
  </table>
</body>

</html>